<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
	<variable name="myvar" value="myvalue"/>
	<targets>
		<!--输出到文件-->
		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
		 layout="${longdate} [${level:uppercase=true}]  ${message}" />
		<!--VS输出窗口-->
		<target name="debugger" xsi:type="Debugger" layout="${longdate} [${level:uppercase=true}]  ${message}"/>
		<!--输出到控制台-->
		<target name="console" xsi:type="Console" layout="${longdate} [${level:uppercase=true}]  ${message}"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="f" />
		<logger name="*"  writeTo="debugger"/>
		<logger name="*"  writeTo="console"/>
	</rules>
</nlog>